:root {
    /*Fonte*/
    --fonte: 'Josefin Sans', 'sans-serif';

    /*Variaveis light mode*/
    --cinza_claro: hsl(0, 0%, 98%);
    --cinza_claroAzulado: hsl(236, 33%, 92%);
    --cor_fundo: hsl(233, 11%, 84%);
    --cinza: hsl(236, 9%, 61%);
    --cinza_escuro: hsl(235, 19%, 35%);

    /*Variaveis dark mode*/
}

body {
    font-family: var(--fonte);
    font-weight: 400;

    background-image: url(../images/bg-mobile-light.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
    background-color: var(--cor_fundo);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    padding: 1rem;

    width: 100%;
    min-height: 100%;
}


* {
    box-sizing: border-box;
}

header {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    padding: 1rem 0;
}


header h1 {
    color: var(--cinza_claro);
    font-size: 28px;
}


.btn__tema {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}



form {
    background-color: var(--cinza_claro);

    display: flex;

    border-radius: 5px;

    padding: .7rem;
    margin-bottom: 1rem;

    width: 80%;
}

.circulo, .circulo__referencia {
    border: 1px solid var(--cinza_claroAzulado);

    width: 18px;
    height: 18px;

    border-radius: 50%;

    margin-right: .5rem;

}

.circulo__check {

    background: url(../images/icon-check.svg), linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    background-repeat: no-repeat;
    background-position: center;

}

form input {
    width: 100%;
    height: 100%;

    border: none;
}

form input:focus {
    border: none;
    outline: none;
}

.todo__container {
    width: 80%;
    background-color: var(--cinza_claro);
    border-radius: 5px;
    padding: .7rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
}

.tarefas {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.tarefas__lista {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--cinza_claroAzulado);

    padding: 1rem;
    margin-bottom: .4rem;

    width: 100%;
}


.lista__descricao,
.lista__close {
    color: var(--cinza_escuro);
    font-weight: 700;
}

.lista__descricao {
    text-align: left;
    padding: .7rem;
    width: 90%;

}

.lista__close {
    background-image: url(../images/icon-cross.svg);
    background-position: center;
    margin-left: auto;

    width: 12px;
    height: 12px;
}

.completa {
    color: var(--cinza);
    text-decoration: line-through;
}

.acoes {
    flex: 1;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

.filtros {
    padding: .7rem;
    gap: 1rem;
    width: 80%;
    background-color: var(--cinza_claro);
    border-radius: 5px;
    flex: 1;
    display: flex;
    justify-content: center;
}