:root {
    /*Fonte*/
    --fonte: 'Josefin Sans','sans-serif';

    /*Variaveis light mode*/
    --fundoClaro: hsl(233, 11%, 84%);
    --listCor: hsl(235, 19%, 35%);

    /*Variaveis dark mode*/
}

body {
    font-weight: 400;

    background-image: url(../images/bg-mobile-light.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
    background-color: var(--fundoClaro);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    gap: 2rem;

    padding: 1rem;

    width: 100%;
    min-height: 100%;
}


* {
    box-sizing: border-box;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 1.5rem;
    padding: 1rem 0;
}

form {
    width: 80%;
    background-color: aliceblue;
    border-radius: 5px;
    padding: .7rem;
    margin-bottom: 1rem;
}

.todo__container {
    width: 80%;
    background-color: aliceblue;
    border-radius: 5px;
    padding: .7rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
}

.tarefas {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.acoes {
    flex: 1;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

.filtros {
    padding: .7rem;
    gap: 1rem;
    width: 80%;
    background-color: aliceblue;
    border-radius: 5px;
    flex: 1;
    display: flex;
    justify-content: center;
}
